.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template: 10vh 1fr 5vh / 1fr;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Folders */
.Folder1 {
  top: 50%;
  left: 50%;
}

/* Darkmode excercise */
.DarkMode {
  height: auto;
  background: #353535;
}

.DarkMode h3 {
  color: #67ffd9;
}

.DarkMode p {
  color: #61dafb;
}

.LightMode {
  height: auto;
  background: #FCFDF5;
}